<template>
    <v-toolbar color="pink" dark fixed="">
        <v-toolbar-side-icon  @click="drawToggle()"></v-toolbar-side-icon>
        <v-toolbar-title @click="pageMove('main')" >{{title}} <v-icon>favorite</v-icon></v-toolbar-title>
        <v-spacer></v-spacer>
    </v-toolbar>
</template>

<script>
    import { EventBus } from '../../event-bus.js'

    export default {
        name: 'layout-header',
        data () {
            return {
                title: '2018 SYNC 이제 사랑을 지필데'
            }
        },
        methods: {
            //이벤트 전달
           drawToggle() {
               EventBus.$emit('side-toggle',true);
            }
        },
        created() {
        }
    }
</script>