<template>
    <div class="container" >
        <transition name="fade" mode="out-in">
            <router-view :key="$route.fullPath" class="view"></router-view>
        </transition>
    </div>
</template>

<script>
    export default {
        name: 'layout-main',
        data () {
            return {}
        },
    }
</script>

<style scoped>
    .container {
        margin-top: 55px;
        padding:0;
    }
</style>