<template>
    <div>
        <v-footer app>
            <span>&copy; 2018 SYNC 성락성결교회 청년부 </span>
        </v-footer>
        <v-speed-dial
                fab
                bottom
                right
                color="pink"
                transition="slide-y-reverse-transition"
                v-model="fab"
                fixed
        >
            <v-btn
                    slot="activator"
                    color="pink"
                    dark
                    hover
                    fab
                    v-model="fab"
            >
                <v-icon>add</v-icon>
                <v-icon>close</v-icon>
            </v-btn>
            <v-btn
                    fab
                    dark
                    color="pink"
                    @click.stop="openWriteModel()"
            >
                <v-icon>edit</v-icon>
            </v-btn>
            <v-btn
                    fab
                    dark
                    color="pink"
                    @click="pageMove('list')"
            >
                <v-icon>list</v-icon>
            </v-btn>
        </v-speed-dial>
        <sync-write-model v-if="getIsLogin"
                          :show="getIsWriteModalOpen"
                          :user="getLoginUser"
                          v-on:hide="modelHide"
                          v-on:success="modelSuccess"
        >
        </sync-write-model>
    </div>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex';
    import SyncWriteModel from '@/components/SyncWriteModel'

    export default {
        name:'layout-footer',
        components:{ SyncWriteModel },
        data () {
            return {
                footer: true,
                fab : false,
            }
        },
        computed:{
            computedColor () {
                switch (this.focusBottomMenuIndex) {
                    case 0:
                        return 'red darken-1';
                        break;
                    case 1:
                        return 'red darken-3';
                        break;
                }
            },
            ...mapGetters([
                'getIsLogin',
                'getLoginUser',
                'getIsWriteModalOpen'
            ]),
        },
        methods:{
            navAction:function(nav){
                if(nav.page !== undefined) this.pageMove(nav.page);
                else if(nav.action !== undefined){
                    nav.action();
                    this.drawer = false;
                }
            },
            pageMove:function(name) {
                this.$router.push({ name: name })
            },
            modelHide:function(){
                this.toggleWriteModal(false)
            },
            modelSuccess:function(){
                this.toggleWriteModal(false)
                this.$router.currentRoute.name === 'list' ? this.$router.go(this.$router.currentRoute) : this.pageMove('list');
            },
            openWriteModel:function(){
                if(!this.getIsLogin){
                    this.kakaoLogin();
                }else{
                    this.dialog = true;
                    this.toggleWriteModal(true)
                }
            },
            ...mapActions([
                'kakaoLogin',
                'toggleWriteModal'
            ])
        }
    }
</script>
