<template>
    <v-layout wrap >
        <v-navigation-drawer
                color="cyan" dark
                temporary
                v-model="drawer"
                light
                fixed
        >
            <v-list class="pa-1">
                <v-list-tile v-if="getIsLogin" avatar>
                    <v-list-tile-avatar>
                        <img :src="getLoginUser.image" />
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>{{getLoginUser.username}} ( 카카오 로그인중 )</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-else avatar>
                    <v-btn @click="kakaoLogin()" style="width: 100%;">
                        로그인이 필요합니다
                    </v-btn>
                </v-list-tile>
            </v-list>
            <v-list class="pt-0" dense>
                <v-divider></v-divider>
                <v-list-tile v-for="item in items" :key="item.title" @click="navAction(item)">
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
    </v-layout>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex';
    import { EventBus } from '../../event-bus.js'

    export default {
        name: 'layout-side-menu',
        data () {
            return {
                items: [
                    { title: '글쓰기', icon: 'border_color',  action:'openWriteModal' },
                    { title: '섬김 모아보기', icon: 'format_align_center', page:'list' },
                    { title: '작은방법들', icon: 'help_outline', page:'info' },
                    { title: '메인', icon: 'home', page:'main' }
                ],
                drawer: false
            }
        },
        computed: {
            ...mapGetters([
                'getIsLogin',
                'getLoginUser'
            ]),
        },
        created() {
            EventBus.$on('side-toggle', this.sideToggle);
            EventBus.$on('side-close', this.sideClose);
            EventBus.$on('side-open', this.sideOpen);
        },
        methods:{
            sideOpen (){
                this.drawer = true;
            },
            sideClose (){
                this.drawer = false;
            },
            sideToggle(){
                this.drawer = !this.drawer;
            },
            navAction(item){
                if( item.page !== undefined ) {
                    this.$router.push({name: item.page})
                }else if(item.action !== undefined){
                    this.toggleWriteModal(true)
                }
            },
            ...mapActions([
                'kakaoLogin',
                'toggleWriteModal'
            ])
        }
    }
</script>

