<template>
    <div id="sync-main">
        <img src="/static/images/main_img.png" width="100%" alt="메인" class="mb-5" />
    </div>
</template>
<script>
    export default {
        name: 'SyncMain'
    }
</script>

<style>
</style>
