<template>
    <div id="sync-main">
        <img src="/static/images/middle_img.png" width="100%" alt="메인" class="mb-5" />
        <!--<img src="/static/images/middle_img.png" width="100%" alt="메인" class="mb-5" />-->
    </div>
</template>

<script>
    export default {
        name: 'SyncInfo'
    }
</script>

<style scoped>
    #sync-main{
        margin-top: 30px;
    }
</style>
