<template>
    <div id="sync-write-model">
        <loading-background :show="bloading"></loading-background>
        <v-snackbar
                :timeout="2000"
                :bottom="true"
                v-model="snackbar.show"
        >
            {{ snackbar.massage }}
            <v-btn flat color="pink" @click.native="snackbar.show = false">닫기</v-btn>
        </v-snackbar>
        <v-dialog
                v-model="show"
                fullscreen
                transition="dialog-bottom-transition"
                :overlay=true
                scrollable
        >
            <v-card :dark="hideUser" >
                <v-toolbar style="flex: 0 0 auto;" dark class="primary "color="cyan" dark>
                    <v-btn icon @click.native="hideModel" dark>
                        <v-icon>close</v-icon>
                    </v-btn>
                    <v-toolbar-title>글작성</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark flat @click.native="submit">공유하기</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-container fluid grid-list-md>
                    <v-form v-model="valid" ref="form" lazy-validation>
                        <v-layout row>
                            <v-flex xs8>
                                <v-card flat>
                                    <v-card-text v-if="!hideUser">
                                        <v-avatar
                                                class="grey lighten-4"
                                        >
                                            <img :src="user.image" alt="avatar" style="border:1px solid #cacaca;">
                                        </v-avatar>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <span style="font-size: 25px;">{{user.username}}</span>
                                    </v-card-text>
                                    <v-card-text v-else>
                                        <v-avatar
                                                class="grey lighten-4"
                                        >
                                            <img :src="'/static/images/hide_user.png'" alt="avatar" style="border:1px solid #cacaca;">
                                        </v-avatar>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <span style="font-size: 20px;">익명으로 작성</span>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                            <v-flex xs4>
                                <v-card flat>
                                    <v-card-text style="padding-top: 20px;">
                                        <v-switch v-bind:label="`익명`" v-model="hideUser"></v-switch>
                                    </v-card-text>
                                </v-card>
                            </v-flex>
                        </v-layout>
                        <v-layout row>
                            <v-text-field
                                    name="text"
                                    v-model="form.text"
                                    label="내용"
                                    textarea
                                    :rules="[v => !!v || '내용을 입력해주세요']"
                                    required
                            ></v-text-field>
                        </v-layout>
                        <v-layout row>
                            <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                                <img :src="form.imageUrl" height="150" v-if="form.imageUrl"/>
                                <v-text-field label="이미지 찾기" @click='pickFile' v-model='form.imageName' prepend-icon='attach_file'></v-text-field>
                                <input
                                        type="file"
                                        style="display: none"
                                        ref="image"
                                        accept="image/*"
                                        @change="onFilePicked"
                                >
                            </v-flex>
                        </v-layout>
                        <v-btn
                                block
                                large
                                dark
                                class="primary"
                                @click="submit"
                        >
                            공유하기
                        </v-btn>
                    </v-form>
                </v-container>
                <div style="flex: 1 1 auto;"></div>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
    import { HTTP } from "../utils/http-common"
    import LoadingBackground from "./LoadingBackground"

    export default {
        name: 'SyncWriteModel',
        props: {
            show: Boolean,
            user: Object
        },
        components:{ LoadingBackground },
        data () {
            return {
                valid: '',
                hideUser: false,
                bloading:false,
                snackbar:{
                  show:false,
                  massage:''
                },
                form:{
                    text:'',
                    imageName: '',
                    imageFile: '',
                    imageUrl: '',
                }
            }
        },
        methods:{
            //모달 감추기
            hideModel:function(){
                this.$emit('hide')
            },
            showSnackbar:function(massage){
                this.snackbar.show = true;
                this.snackbar.massage = massage;
            },
            //글작성
            submit:function () {

                if(this.form.text === ''){
                    this.showSnackbar('내용을 입력해주세요');
                    return false;
                }

                this.before();
                const form = new FormData();
                form.append('hide',this.hideUser ? 1 : 0);
                form.append('text',this.form.text);
                form.append('user_id',this.user.id);
                form.append('user_email',this.user.email);
                form.append('user_nickname',this.user.username);
                form.append('user_thumbnail_image',this.user.image);
                if(this.form.imageFile) form.append('image',this.form.imageFile);

                HTTP.post('/post/', form, {headers: { 'Content-Type': 'multipart/form-data' } }).then( (response) =>{
                    this.success();
                    this.hideModel();
                }).catch( (error) => {
                    alert('업로드가 불가능한 이미지입니다.');
                    this.error(error);
                });
            },
            before:function(){
                this.bloading = true;
                this.$emit('before');
            },
            success:function(){
                this.bloading = false;
                this.showSnackbar('작성이 완료되었습니다.');
                this.reset();
                this.$emit('success');
            },
            error:function(error){
                this.bloading = false;
                this.$emit('error');
            },
            reset:function(){
                this.form ={
                    text:'',
                    imageName: '',
                    imageFile: '',
                    imageUrl: '',
                };
                this.hideUser = false;
            }
            ,
            //이미지 업로드
            pickFile:function() {
                this.$refs.image.click ()
            },

            //이미지 호출
            onFilePicked:function(e) {
                const files = e.target.files;
                if(files[0] !== undefined) {
                    this.form.imageName = files[0].name;
                    if(this.form.imageName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader ();
                    fr.readAsDataURL(files[0]);
                    fr.addEventListener('load', () => {
                        this.form.imageUrl = fr.result;
                        this.form.imageFile = files[0] // this is an image file that can be sent to server...
                        console.log(this.form.imageFile)
                    })
                } else {
                    this.form.imageName = '';
                    this.form.imageFile = '';
                    this.form.imageUrl = '';
                }
            }
        }
    }
</script>