<template>
    <v-flex  xs12>
        <v-list>
            <v-list-tile avatar>
                <v-list-tile-avatar>
                    <img :src="userInfo.image" alt="trevor" class="user_image">
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title>{{userInfo.name}}</v-list-tile-title>
                    <v-list-tile-sub-title>{{content.create_date | datetimeKo}} 작성</v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                    <v-btn
                            icon
                            :class="fav ? 'red--text' : ''"
                            @click="fav = !fav"
                    >
                        <v-icon>favorite</v-icon>
                    </v-btn>
                </v-list-tile-action>
            </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list>
            <v-container fluid grid-list-lg  v-if="!isImage">
                <v-layout row>
                    <v-flex xs12>
                        <div class="text" v-html="content.text"></div>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-container fluid grid-list-lg v-else>
                <v-layout row>
                    <v-flex xs7>
                        <div class="text" v-html="content.text"></div>
                    </v-flex>
                    <v-flex xs5>
                        <v-card-media
                                :src="apiUrl + content.image + '/'"
                                height="125px"
                                contain
                        ></v-card-media>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-list>
        <v-card  primary-title v-if="isMyPost">
            <v-container  grid-list-xs>
                <v-layout row>
                    <v-flex xs12>
                        <div class="text-xs-right">
                            <v-btn round color="danger" dark @click="remove">삭제</v-btn>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-flex>
</template>

<script>
//    import VCardMedia from "vuetify/src/components/VCard/VCardMedia";
    import url from '../config/deploy'
    import { KakaoModule } from '../utils/kakao';

    export default {
        name: 'SyncCard',

        props:{
            content:Object
        },
        data()  {
            return  {
                apiUrl: url,
                fav: false,
                hideUser:{
                    'name' : '익명의 청년',
                    'image': '/static/images/hide_user.png'
                }
            }
        },
        created:function(){
        },
        filters: {
            datetimeKo: function (datetime) {
                let dateDect = datetime.split('-');
                let day = dateDect[2].split('T')[0];

                return dateDect[0]+'년 '+dateDect[1]+'월 '+day+'일'
            }
        },
        computed:{
            //이미지 유무
            isImage: function(){
                if(this.content.image === null){
                    return false;
                }else{
                    return true;
                }
            },
            //나의 포스트 여부
            isMyPost: function(){
               if(KakaoModule.user() && KakaoModule.user().id === this.content.user_id){
                   return true;
               }
               return false;
            },
            //유저 정보
            userInfo:function(){
                let userInfo = {
                    'name' : this.content.user_nickname,
                    'image': this.content.user_thumbnail_image
                };
                if(this.content.hide){
                    userInfo = this.hideUser;
                }
                return userInfo;
            }
        },
        methods:{
            remove:function(e){
                event.stopPropagation();
                this.$emit('remove',this.content);
            },
            update:function(){
                this.$emit('edit');
            }
        }
    }
</script>

<style scoped>
    .card-footer {
        background-color: #f54236;
        border-color: #f54236;
    }

    .headline {
        padding: 0 10px;
    }

    .write-date {
        font-size: 13px;
        width: 100%;
        display: inline-block;
        /*margin-top: 7px;*/
    }

    .user_image{
        border : 1px solid #a2a2a2;
    }

    .date{
        float: right;
        display: inline-block;
        padding-top: 8px;
    }

    .text{
       display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
         white-space: normal; line-height: 1.2; max-height: 100px; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;
    }


</style>
