<template>
    <div id="sync-write-model">
        <v-dialog v-model="show"
                  fullscreen
                  transition="slide-x-reverse-transition"
                  :overlay=true
                  scrollable
        >
            <v-card dark>
                <v-toolbar dark >
                    <v-toolbar-title>{{!post.hide ? post.user_nickname : '누군가의 섬김'}}</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon @click.native="hideModel" dark>
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar>
                <br>
                <v-card-text  style="font-size:17px;">
                    {{post.text}}
                    <div style="text-align: center; " v-if="post.image">
                        <img  :src="apiUrl + post.image + '/'" style="max-width: 350px;"/>
                    </div>
                </v-card-text>

            </v-card>
        </v-dialog>
    </div>
</template>
<script>
    import LoadingBackground from "./LoadingBackground";
    import url from '../config/deploy'

    export default {
        name: 'SyncPostModel',
        props: {show: Boolean, post: Object},
        components: {LoadingBackground},
        data() {
            return {
                apiUrl: url,
                hideNickName: '누군가의 섬김'
            }
        },
        created:function(){
        },
        computed:{
            viewName: function(){
                if(!this.post.hide){
                    return this.user_nickname
                }else{
                    return this.hideNickName
                }
            }
        },
        methods: {
            //모달 감추기
            hideModel: function () {
                this.$emit('hide');
            }
        }
    }
</script>