<template>
  <v-app>
    <layout-header></layout-header>
    <layout-side-menu></layout-side-menu>
    <layout-main></layout-main>
    <layout-footer></layout-footer>
  </v-app>
</template>

<script>
  import  LayoutHeader  from '@/pages/layout/LayoutHeader'
  import  LayoutSideMenu  from '@/pages/layout/LayoutSideMenu'
  import  LayoutMain  from '@/pages/layout/LayoutMain'
  import  LayoutFooter  from '@/pages/layout/LayoutFooter'

  export default {
    name:'App',
    components:{ LayoutHeader, LayoutSideMenu, LayoutMain, LayoutFooter },
  }
</script>
